<html>
    <head>
        <title>
            SFS App By Vighnesh Sadvilkar D100
        </title>
        <style>
            *{font-size: 40px;font-family: Calibri;}
            body{background-color: lightblue;}
        </style>
    </head>
    <body>
        <center>
            <h1>Create Page (Vighnesh D100)</h1>
            <a href="{% url 'home' %}">Home</a>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{fm.as_table}}
                </table>
                <input type="submit"/>
            
            </form>
            {{msg}}
        </center>
    </body>
</html>