<html>
    <head>
        <title>Welcome to KIT</title>
        <style>
            *{font-size: 40px;}
            .nav{background-color: coral;}
            .nav a {color:white;text-decoration:none; margin:6%;}
        </style>
    </head>
    <body>
        <center>
            <div class="nav">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'dept' %}">Department</a>
                <a href="{% url 'stu' %}">Student</a>

            </div>
            <h1>Dept Page Vighnesh D100</h1>
                <a href="{% url 'adddept' %}">Add Department</a>
                <br/> <br/>
            <table border="5" style="width: 50%;text-align: center;">
            <tr>
                <th>Dept ID</th>
                <th>Dept Name</th>
                <th>Delete</th>
                
            </tr>
            {% for d in data %}
            <tr>
                <td>{{d.did}}</td>
                <td>{{d.name}}</td>
                <td><a href="{% url 'remdept' id=d.did %}" 
                    onclick="return('are you sure ?')">Delete</a></td>

            </tr>
            {% endfor %}
            </table>
        </center>
    </body>
</html>