<html>
    <head>
        <title>EO App by Vighnesh D100</title>
        <style>
            *{font-size: 50px;}
            body{background-color: aqua;}
        </style>
    </head>
    <body>
        <center>
            <h1>Even Odd Finder </h1>
            <form>
                <input type="number" name="num"
                placeholder="Enter integer" required/>
                <br><br>
                <input type="submit" value="Find E/O"/>


            </form>
            {{msg}}
        </center>
    </body>
    

</html>