<html>
    <head>
        <title>VC App by Vighnesh D100</title>
        <style>
            *{font-size: 50px;}
            body{background-color: aqua;}
        </style>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"
    </head>
    <body>
        <center>
            <h1>VC Counter Vighnesh D100 </h1>
            <form>
                <textarea name="txt" placeholder="Enter Text" 
                rows="5" cols="40" required></textarea>
                <br><br>
                <input type="submit" value="Count">

            </form>
            {{msg}}
        </center>
    </body>
    

</html>