<html>
    <head>
    <title>
        Square root app by kamal sir
    </title>
    <style>
        *{font-size: 40px;}
        body{background-color: aqua;}
    </style>
    </head>
    <body>
        <center>
            <h1>Sqr Finder by Vighnesh D100 </h1>
            <form >
                <input type="number" step="any" name="num" 
                placeholder="Enter Number" required/>

                <br><br><br>
                <input type="submit" value="Find"/>

            </form>
        </center>
    </body>
</html>